body {
  margin: 0;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add Segoe UI font to ensure it's loaded and available */
@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe UI');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  src: local('Segoe UI Semibold');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  src: local('Segoe UI Bold');
}